@import url('https://fonts.cdnfonts.com/css/alata');
@import url('https://fonts.cdnfonts.com/css/inter');

nav {
    background-color: #5F0F40;
}


/* index */
.videoBackground {
    width: 100%;
}

.welcomeSection {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: flex-end;
}

.welcomeSection article {
    width: 70%;
}

.welcomeSection h1 {
    color: #9A031E;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 88px;
    letter-spacing: 0.225em;
}

.welcomeSection p {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
}

.welcomeSection img {
    width: 25%;
    height: fit-content;
}

.interestingSection {
    padding: 20px 120px;
}

.interestingSection .text-center p {
    color: #5f0f40;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 77px;
    letter-spacing: 0.17em;
}

.interestingSection .festivalPromo {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.interestingSection .festivalPromo img {
    width: 100%;
}

.interestingSection .festivalPromo div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    line-height: 103px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.interestingSection .festivalPromo div h4 {
    color: #ffd000;
    font-size: 48px;
}

.interestingSection .festivalPromo div p {
    color: #ffffff;
    font-size: 40px;
}

.interestingSection .festivalPromo .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visitHaarlemPromo {
    display: flex;
    justify-content: space-between;
}

.visitHaarlemPromo figure {
    width: 45%;
}

.visitHaarlemPromo figure img {
    width: 100%;
    height: auto;
}

.mobileAppPromoSection {
    display: flex;
    justify-content: center;
    padding: 0 120px;
}

.mobileAppPromoSection .informationColumn {
    width: 70%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.mobileAppPromoSection .informationColumn h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
}

.mobileAppPromoSection .informationColumn h2 {
    font-size: 20px;
}

.mobileAppPromoSection .mockupColumn {
    width: 30%;
}

.mobileAppPromoSection .mockupColumn img {
    width: 100%;
    height: auto;

}







/* -------------------Food-------------- */
#FoodIntroSubImage {
    margin-top: 66px;
}

#FoodParagraph1 {
    background: linear-gradient(180deg, #9A031E 0%, #3E030E 100%);
    margin-top: 66px;
}

#FoodParagraph1Content {
    color: white;
    font-size: 13pt;
    margin: 162px 120px 162px 120px;
}