@import url("https://fonts.cdnfonts.com/css/alata");
@import url("https://fonts.cdnfonts.com/css/inter");

body {
  font-family: "Inter";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav {
  background: linear-gradient(
    90.05deg,
    #321325 0.73%,
    #7f4066 99.97%,
    #7f4066 99.97%
  );

  .logo {
    width: 75%;
  }

  .nav-item {
    font-family: "Inter";
    cursor: pointer;

    .nav-link {
      font-size: 22px;
      margin-left: 20px;
      color: white !important;
    }
  }
}

.ff-alata {
  font-family: "Alata";
}
.admin-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90.05deg,
    #321325 0.73%,
    #7f4066 99.97%,
    #7f4066 99.97%
  );
  .logo {
    width: 10%;
    cursor: pointer;
  }
}

#transparent-navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 100;
}

footer {
  background: linear-gradient(90.19deg, #321325 1.12%, #5f0f40 99.85%);
  color: white;
  padding: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  #envelopeImg {
    size: 10px;
  }

  .footerImg {
    width: 40px;
    margin-right: 5px;
  }
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;

  &:focus {
    box-shadow: none;
  }

  &.btn-red-gradient {
    background: linear-gradient(92.89deg, #93051f 0%, #37020b 100%);
    border-radius: 0;
    color: white;
    font-size: 14px;
    line-height: normal;
    padding: 5px 20px;

    &:hover {
      opacity: 0.8;
      background: linear-gradient(92.89deg, #93051f 0%, #37020b 100%);
    }
  }

  &.btn-yellow-gradient {
    background: linear-gradient(92.89deg, #ffd000 0%, #ffd000 100%);
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    line-height: normal;
    padding: 5px 20px;

    &:hover {
      opacity: 0.9;
      background: linear-gradient(92.89deg, #ffd000 0%, #ffd000 100%);
    }
  }
}

/* index */

.videoBackground {
  width: 100%;
}

.welcomeSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.welcomeSection article {
  width: 70%;
}

.welcomeSection h1 {
  color: #9a031e;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 88px;
  letter-spacing: 0.225em;
}

.welcomeSection p {
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
}

.welcomeSection img {
  width: 25%;
  height: fit-content;
}

.interestingSection {
  padding: 20px 120px;

  .text-center p {
    color: #5f0f40;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 77px;
    letter-spacing: 0.17em;
  }

  .festivalPromo {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;

    img {
      width: 100%;
      filter: brightness(50%);
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      line-height: 103px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      h4 {
        color: #ffd000;
        font-size: 48px;
      }

      p {
        color: #ffffff;
        font-size: 40px;
      }
    }

    .btn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.visitHaarlemPromo {
  display: flex;
  justify-content: space-between;

  figure {
    width: 45%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.mobileAppPromoSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 120px;

  .informationColumn {
    width: 40%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    .caption {
      display: flex;
      align-items: center;
      height: 40px;
      gap: 10px;

      img {
        height: 100%;
      }

      p {
        font-size: 20px;
        margin: 0;
      }
    }

    h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 58px;
    }

    h2 {
      font-size: 20px;
      margin-top: 5%;
    }

    .downloadBtns {
      display: flex;
      gap: 15px;
      margin-bottom: 5%;

      img {
        height: 4vw;
        cursor: pointer;
      }
    }
  }

  .mockupColumn {
    width: 30%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

//===========================================================Food Page=========================================================================
.foodPageTitle {
  color: #5f0f40;
  margin-top: 50px;
  margin-bottom: 40px;

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.foodpageWelcomeSection {
  position: relative;

  .foodPageMsgBox {
    width: 45%;
    top: 77%;
    left: 5%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: absolute;

    p {
      font-size: 20pt;
      padding: 50px;
    }
  }
}

#FoodIntroSubImage {
  margin-top: 66px;
}

.foodPageParagraph1 {
  background: linear-gradient(180deg, #9a031e 0%, #3e030e 100%);
  margin-top: 130px;

  p {
    color: white;
    font-size: 13pt;
    margin: 120px 110px;
  }
}

.foodPageMsgBox {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  p {
    font-size: 20pt;
    padding: 30px;
  }
}

.restaurantsSection {
  margin-top: 60px;
  margin-bottom: 88px;

  h1 {
    color: #5f0f40;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 48px;
  }

  .restaurant {
    .card {
      margin-top: 60px;
      background: linear-gradient(180deg, #95051e 0%, #2e0209 100%);
      color: white;
      padding: 18px;
      height: 95%;

      img {
        margin: 10px;
      }
    }
  }
}

.restaurantRight {
  margin-left: 45px;
}

.restaurantLeft {
  margin-right: 45px;
}

.restaurantEventSection {
  margin-top: 60px;
  margin-bottom: 88px;

  .card {
    margin-top: 60px;
    background: linear-gradient(180deg, #95051e 0%, #2e0209 100%);
    color: white;
    padding: 18px;
    height: auto;

    img {
      margin: 10px;
    }

    .seeMoreBtn {
      background: #fcdc4d;
      border-radius: 12px;
      padding: 3% 5%;
    }
  }
}

//======Yummie=======
.yummieWelcomeParagraph {
  background: linear-gradient(180deg, #9a031e 0%, #3e030e 100%);
  color: white;
  padding: 100px 120px;
}

.foodEvent {
  margin-top: 100px;

  .title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #9a031e;
  }
}

.personalProgramOffer {
  padding: 50px 40px;
  margin: 40px 0px;
  background: linear-gradient(180deg, #9a031e 0%, #35020b 100%);

  p {
    color: white;
    font-size: 18pt;
  }

  button {
    background: #fcdc4d;
    border-radius: 16px;
    padding: 10px 12px;
  }
}

//========Restaurant detail page==========
.restaurantDetailPageContainer {
  margin-top: 2%;
  margin-bottom: 6.5%;

  .descriptionSection {
    margin-top: 30px;
    padding-right: 8%;

    h1 {
      font-size: 36pt;
    }

    .michelinLabel {
      span {
        display: inline-block;
      }

      .michelinText {
        color: #d3072b;
        font-size: 18pt;
        font-weight: 600;
      }

      .michelinLogo {
        width: 80%;
      }
    }

    .restaurantDescription {
      font-size: 13pt;
      font-weight: 600;
      line-height: 22px;
      margin-top: 8px;
    }

    button {
      margin-top: 50px;
      padding: 1% 4%;
      background: #fcdc4d;
      border-radius: 13px;
      border: 0;
      font-size: 13pt;
    }
  }

  .coverImg {
    width: 100%;
  }
}

.restaurantRow2Box {
  background: linear-gradient(180deg, #9a031e 0%, #2b0209 100%);
  color: white;
  height: 100%;
  padding-top: 7%;
  padding-left: 7%;

  h2 {
    font-size: 20pt;
    margin-bottom: 6%;
  }

  h3 {
    font-size: 16pt;
  }

  .restaurantMap {
    margin-top: 5%;
  }
}

#restaurantReservationBox {
  background: linear-gradient(180deg, #9a031e 0%, #2b0209 100%);
  color: white;
  height: 100%;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.5));
  border-radius: 40px;
  padding-top: 7%;

  h2 {
    font-size: 20pt;
    margin-bottom: 6%;
  }

  h3 {
    font-size: 16pt;
  }

  .reservationQuantityOfPoeple {
    input {
      height: 30px;
      //width: 50px;
      //font-size: 10pt;
    }
  }
}

#addToCart {
  padding: 1% 3%;
  background: #fcdc4d;
  border-radius: 13px;
  border: 0;
}

.reservationExtraFeeText {
  font-size: 8pt;
}

//=============Checkout page================
.checkoutOrderSummarySection {
  background: #fcdc4d;
  height: 100%;

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 14pt;
  }

  p {
    line-height: normal;
  }

  .checkTotal {
    .amount {
      font-size: 24pt;
    }
  }
}

//visit haarlem for history page start
.history-header {
  color: #5f0f40;
  margin-top: 50px;
  margin-bottom: 40px;

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.content-header {
  color: #5f0f40;
  font-size: 48px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-bg-color {
  background-color: #2e0c20;
}

.card-text-color {
  color: #ffffff;
}

//visit haarlem for history page end
//culture

.cultureTitle {
  color: #5f0f40;
  margin-top: 50px;
  margin-bottom: 40px;

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

#Culturebody {
  background-color: #000000;
}

#VisitHaarlemCultureImg1 {
  position: relative;
  width: 100%;
}

.boxImg {
  width: 300px;
  margin-left: 25%;
}

.boxImgDetailedPage {
  width: 250px;
  margin-left: 0;
  margin-right: auto;
}

.MuseumBox {
  margin-top: 30px;
  filter: drop-shadow(12px 25px 11px rgba(0, 0, 0, 0.25));
  position: relative;
  display: inline-block;
  height: auto;
  align-content: center;
  width: 100%;
}

.MuseumBoxDetailedPage {
  margin-top: 30px;
  filter: drop-shadow(12px 25px 11px rgba(0, 0, 0, 0.25));
  position: relative;
  display: inline-block;
  height: auto;
  align-content: center;
}

.img-topDetailPage {
  width: 250px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;
}

#cultureBox {
  align-items: center;
}

.img-top {
  width: 300px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  align-items: center;

  margin-left: 25%;
}

.MuseumBoxDetailedPage:hover .img-topDetailPage {
  display: inline;
}

.MuseumBox:hover .img-top {
  display: inline;
}

#VisitHaarlemCulture1 {
  height: 417px;
  float: left;
  padding-left: 0%;
  margin-left: 0;
}

.buttonViewMore {
  color: red;
  text-align: center;
  position: absolute;
}

.cardCulture {
  align-content: center;
}

#VisitHaarlemMuseumImg1 {
  width: 750px;
  height: 770px;
  float: right;
}

.cardCultureGroup1 {
  align-items: center;
}

.cardCulture1 {
  align-items: center;
  width: 100%;
  background: linear-gradient(96.95deg, #620011 12.24%, #2e0b1f 80.77%);
  box-shadow: 0px 52px 54px 2px rgba(0, 0, 0, 0.11);
  color: white;
  line-height: 200%;
  padding: 30px;
  width: 100%;
}

.cardCulture2 {
  width: 100%;
  background: linear-gradient(96.95deg, #620011 12.24%, #2e0b1f 80.77%);
  box-shadow: 0px 52px 54px 2px rgba(0, 0, 0, 0.11);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  color: white;
  line-height: 200%;
  padding: 30px;
}

#cultureText1 {
  margin: 50px;
  text-align: center;
  color: #5f0f40;
}

//dance
#danceBody {
  background-color: black;
  color: white;
  background-image: "img/";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#danceHomeimg1 {
  width: 100%;
  height: 945px;
}

.danceHomeNameArtist {
  background: linear-gradient(106.4deg, #ffffff 5.75%, #ffffff 88.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 26px #ffb800;
  position: absolute;
}

#danceHomeNameArtist1 {
  left: 75%;
  top: 25%;
}

#danceHomeNameArtist2 {
  left: 75%;
  top: 45%;
}

#danceHomeNameArtist3 {
  left: 70%;
  top: 65%;
}

#danceHomeNameArtist4 {
  left: 43%;
  top: 35%;
}

#danceHomeNameArtist5 {
  left: 10%;
  top: 55%;
}

#danceHomeNameArtist6 {
  left: 30%;
  top: 80%;
}

.arrow-down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 83%;
  left: 120px;
  padding: 45px;
  width: 80%;
  color: white;
  align-content: center;
  text-decoration: none;
}
.arrow-down:hover {
  color: #a1a1a1;
}

#dancePersonalProgramButton {
  background: #fcdc4d;
  border-radius: 16px;
  width: 110%;
  height: 40px;
}

.danceHomeNameArtistCard {
  background: linear-gradient(106.4deg, #ffffff 5.75%, #ffffff 88.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 26px #ffb800;
}

.danceHomeNameArtistCard {
  align-items: center;
}

.danceCardType1 {
  background: #151515;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    21px 18px 52px rgba(0, 0, 0, 0.45);
  border-radius: 22px;
  color: white;
  padding: 30px;
  text-align: center;
}

.danceCardType2 {
  background: linear-gradient(158.75deg, #151515 31.35%, #4a0000 99.61%);
  box-shadow: 0px 52px 54px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  height: auto;
}

.danceCardLine {
  background: white;
  width: 225%;
  margin: 10px;
  margin-right: -30px;
  z-index: -1;
  float: right;
}

.danceViewMore {
  background: #6a0013;
  border: 0;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #d3d3d3;
}
.danceViewMore:hover{
  opacity: 0.7;
}

#danceAllAccessPass {
  background: #151515;
  box-shadow: 0px -4px 63px 22px rgba(255, 184, 0, 0.64),
    13px 20px 8px -12px #000000;
  margin: 30px;
  color: #ffb800;
  width: 60%;
  height: 100px;
  margin-top: 70px;
}

.danceDailyAccessPass {
  align-self: center;
  background: #ffffff;
  box-shadow: 5px 6px 5px 1px rgba(0, 0, 0, 0.85),
    0px 1px 19px 20px rgba(150, 137, 137, 0.47);
  border-radius: 13px;
  height: 90px;
  margin: 30px;
  width: 300px;
}

.danceTableContent {
  background: linear-gradient(101.77deg, #9a031e 18.12%, #000000 127.71%);
  border-radius: 24px;
  padding: 20px;
  margin-top: 80px;
}

.danceDemoMartin1 {
  position: relative;

  z-index: 10;
}

#danceTableContentDay1 {
  table,
  th,
  td {
    border: 1px solid;
  }

  table {
    width: 120%;
    background-color: black;
  }

  .danceTableContentButton {
    margin-top: 50px;
    background: #ffffff;
    box-shadow: 5px 6px 5px 1px rgba(0, 0, 0, 0.85),
      0px 1px 19px 20px rgba(150, 137, 137, 0.47);
    border-radius: 13px;
    width: 250px;
    height: 50px;
  }
}

#danceVanueCard {
  //background-color: red;
  padding-bottom: 20px;
  margin-top: 80px;
  background: conic-gradient(
    from 75.58deg at -16.05% 100%,
    #000000 0deg,
    #6d0000 71.01deg,
    #000000 360deg
  );
}

.danceVanue {
  background-color: white;
  color: #330009;
}

.danceVanueImg {
  width: 100%;
}

.danceVanueType1 {
  margin: 10px;
}

.danceVanueType2 {
  margin-top: 150px;
}

#danceHomeLine {
  position: absolute;
  z-index: -1;
  top: -110%;
}

.personalProgramArrow {
  font-size: large;
  width: 500px;
}

.artist-name h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.detailedArtistName {
  align-self: center;
  position: absolute;
  width: 420px;
  left: 30em;
  top: 5em;

  filter: drop-shadow(0px 8px 18px #ffb800)
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(-2px 12px 34px #ffb800);
}

#danceDetailedPageBody {
  background-color: #000000;
  color: white;

  .danceTopSongs {
    background: linear-gradient(100.1deg, #9a031e 17.05%, #000000 57.56%);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-top: 3%;
  }

  .danceDetailedPageImage {
    width: 100%;
    height: 75%;
    position: absolute;
    z-index: -1;
  }
  #detailedArtistName {
    align-self: center;
    position: absolute;
    width: 420px;
    height: 60px;
    left: 748px;
    top: 500px;
    size: 100px;

    filter: drop-shadow(0px 8px 18px #ffb800)
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-2px 12px 34px #ffb800);
  }
    


  .box {
    background-color: white;
    color : black;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .box h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .box p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-2 {
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .dancedetailedimg1 {
    padding: 5em;
    background: #9a031e;
    box-shadow: 6px 0px 30px -4px #ffb800;
    border-radius: 56px;
  }

  #careerHighlight {
    background: linear-gradient(245.73deg, #9a031e 17.74%, #000000 101.89%);
    margin-bottom: 20%;
  }

  .dancePageTitle {
    margin-top: 50px;
    margin-bottom: 40px;
    filter: drop-shadow(0px 8px 18px #ffb800)
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-2px 12px 34px #ffb800);

    h1 {
      font-weight: 800;
      font-size: 64px;
      line-height: normal;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
      font-weight: 800;
      font-size: 48px;
      line-height: normal;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

// museum

//index
#myProfileIndexBody {
  background: linear-gradient(101.77deg, #9a031e 18.12%, #000000 127.71%);
  color: white;
}

//kids page
.kids-welcome-screen {
  margin-bottom: 7%;
  color: #5f0f40;
  font-style: normal;
  font-family: "Inter";

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  p {
    color: #321325;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
  }
}

.text-center.kids-page {
  font-family: "Inter";
  font-style: normal;
  color: #4f0310;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.kids-event-banner {
  background: linear-gradient(93.86deg, #95051e 0%, #2b0108 100%);
  box-shadow: 0px 4px 63px 3px #95061e;
  width: 100%;
  display: flex;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  padding: 10px 20px;

  .col1 {
    width: 35%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;

    p:nth-child(1) {
      margin-bottom: 15%;
    }
  }

  .col2 {
    align-self: flex-end;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 800;
      margin: 0;
    }

    img {
      width: 40px;
    }
  }

  .col3 {
    width: 35%;

    img {
      width: 80%;
    }
  }
}

.shadow-text {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  position: relative;
  margin: 15% 0;

  h1 {
    color: rgba(154, 3, 30, 0.29);
    font-size: 152px;
    line-height: 345px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.kids-benefits {
  margin-top: 25%;
  padding: 0 7%;

  .benefit {
    width: 30%;
    background: linear-gradient(180deg, #98041e 0%, #2a0108 100%);
    border-radius: 31px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    transition: 0.5s;

    div:nth-child(2) {
      margin-top: auto;
    }

    h1 {
      font-weight: 700;
      font-size: 26px;
      line-height: 44px;
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 29px;
    }

    &:hover {
      transform: translateY(-20px);
      filter: contrast(1.2);
    }
  }
}

.places-for-kids {
  margin-top: 30%;
  margin-bottom: 10%;

  .article {
    &:nth-child(2) {
      margin: 7% 0;
    }

    h1 {
      color: #9a031e;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
    }

    p {
      color: #000000;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
    }

    .findOnMap {
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 29px;
        text-decoration-line: underline;
        color: #5f0f40;
      }

      img {
        width: 30px;
      }
    }
  }
}

//Festival Page
.welcomeSection.festival article {
  width: 100%;
}

.welcomeSection.festival h1 {
  line-height: normal;
  margin-bottom: 2%;
}

.eventPromo {
  font-family: "Inter";
  font-style: normal;

  .event {
    position: relative;

    .eventName {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fcdc4d;
      padding: 10px 4%;
      width: fit-content;
      cursor: pointer;
      transition: 0.5s;

      h1 {
        color: #000000;
        font-weight: 700;
        font-size: 32px;
        line-height: normal;
        margin: 0;
      }

      &:hover {
        transform: translate(-50%, -65%);
        filter: contrast(1.5);
      }
    }
  }

  .description {
    padding: 2% 2%;

    p {
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      margin: 0;
    }

    &.dance {
      background: linear-gradient(271.74deg, #000000 17.62%, #531313 55.15%);
    }

    &.yummy {
      background: linear-gradient(271.74deg, #000000 17.62%, #531313 55.15%);
    }

    &.history {
      background: linear-gradient(271.74deg, #000000 17.62%, #531313 55.15%);
    }
  }
}

.container.schedule {
  margin-top: 5%;
  margin-bottom: 5%;

  h1 {
    color: #9a031e;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 88px;
    letter-spacing: 0.225em;
  }

  .day-block {
    flex: 1 1 0px;
    background: linear-gradient(94.11deg, #620011 -2.58%, #000000 110.26%);
    padding: 15px 10px;
    height: 350px;
    font-family: "Inter";
    font-style: normal;
    text-align: center;

    &:nth-child(2n) {
      background: linear-gradient(94.11deg, #000000 -2.58%, #620011 110.26%);
    }

    h2 {
      font-weight: 700;
      font-size: 1.5vw;
      line-height: normal;
      color: #ffffff;
      white-space: nowrap;
    }

    .events {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        color: #ffffff;
      }
    }
  }
}

.container.map {
  h1 {
    color: #9a031e;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.225em;
  }

  .agenda {
    display: flex;
    gap: 2%;
    margin-top: 2%;
    margin-bottom: 1%;

    .event-name {
      display: flex;
      align-items: center;
      gap: 2px;

      .color-box {
        width: 15px;
        height: 15px;

        &.yummy {
          background: #9a031e;
        }

        &.dance {
          background: #2e0b1f;
        }

        &.history {
          background: #cb793a;
        }
      }

      p {
        color: #000000;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: normal;
        margin: 0;
      }
    }
  }

  img {
    width: 100%;
  }
}

//Login Page----------------------------------------------------------------
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.container-fluid.myaccount {
  font-family: "Inter", "Alata", "Sans-serif";
  padding-right: 0;
  padding-left: 30px;

  h1 {
    font-family: "Alata", "Sans-serif";
    font-weight: 700;
  }
}

.user-box {
  position: relative;

  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;

    &:focus ~ label,
    &:valid ~ label {
      top: -20px;
      left: 0;
      color: #9a031e;
      font-size: 12px;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: 0.5s;
  }
}

button.red-outline-animated {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #9a031e;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 5%;
  letter-spacing: 4px;

  &:hover {
    background: #9a031e;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #9a031e, 0 0 25px #9a031e, 0 0 50px #9a031e,
      0 0 100px #9a031e;
  }

  span {
    position: absolute;
    display: block;
  }

  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #9a031e);
    animation: btn-anim1 1s linear infinite;
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #9a031e);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #9a031e);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #9a031e);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
}

.link-info {
  color: #9a031e !important;
}

.error-message {
  color: red;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

#addRestaurantPage {
  font-family: "Inter";
}

.hidden {
  display: none;
}
.modal-panel {
  z-index: 1021;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 80px;
  right: 0px;
  width: 15%;
  height: 7%;
  padding: 5px 5px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  p {
    margin: 0;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 500;
    color: black;
    white-space: nowrap;
    margin-right: 15%;
  }
  img {
    height: 100%;
    width: auto;
  }
  &.slide {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 768px) {
  #transparent-navbar {
    background-color: #00000095;
  }
  .videoBackground {
    filter: brightness(50%);
  }
  .welcomeSection {
    flex-direction: column;
    article {
      width: 100%;
      h1 {
        font-size: 36px;
        line-height: 60px;
      }
    }
    img {
      position: absolute;
      top: 32%;
    }
  }
  .arrow-down {
    display: none;
  }
  .interestingSection {
    padding: 10px 12px;
    .festivalPromo {
      div {
        h4 {
          font-size: 30px;
        }
        p {
          font-size: 24px;
          line-height: normal;
        }
      }
      .btn {
        font-size: 8px;
        padding: 3px 20px;
        bottom: 5px;
      }
    }
    .visitHaarlemPromo {
      h3 {
        font-size: 16px;
        margin-bottom: 2px;
      }
      p {
        font-size: 12px;
      }
      .btn-red-gradient {
        font-size: 12px;
        width: 100%;
        padding: 3px 20px;
      }
    }
  }
  .mobileAppPromoSection {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    .informationColumn {
      .caption {
        display: none;
      }
      h1 {
        font-size: 34px;
        line-height: 35px;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .downloadBtns {
        img {
          height: 10vw;
        }
      }
    }
    .mockupColumn {
      width: 60%;
    }
  }
  .container-fluid.login{
    h1{
      margin-top: 10%;
      font-size: 34px;
      font-family: "Inter";
    }
    .d-flex{
      padding: 0 10px !important;
    }
  }
  .container-fluid.myaccount{
    padding: 0 12px;
    .row{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      div{
        width: 100%;
      }
      :nth-child(2){
        div{
          gap: 5px !important;
        }
      }
      div.col-3 img.w-100.vh-100{
        display: none;
      }
    }
  }
  footer{
    margin-top: 5%;
    .breakpoint{
      display: none;
    }
    .content{
      .col{
        flex: auto;
      }
      p.d-flex{
        justify-content: center;
      }
      div:nth-child(1){
        width: 100%;
      }
    }
  }
}
