@import url("https://fonts.cdnfonts.com/css/alata");
@import url("https://fonts.cdnfonts.com/css/inter");
body {
  font-family: "Inter";
}

nav {
  background: linear-gradient(90.05deg, #321325 0.73%, #7f4066 99.97%, #7f4066 99.97%);
}

#transparent-navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.9;
}
.btn.btn-red-gradient {
  background: linear-gradient(92.89deg, #93051f 0%, #37020b 100%);
  border-radius: 0;
  color: white;
  font-size: 14px;
  line-height: normal;
  padding: 5px 20px;
}
.btn.btn-yellow-gradient {
  background: linear-gradient(92.89deg, #ffd000 0%, #ffd000 100%);
  border-radius: 0;
  color: #000000;
  font-size: 14px;
  line-height: normal;
  padding: 5px 20px;
}

/* index */
.videoBackground {
  width: 100%;
}

.welcomeSection {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  align-items: flex-end;
}

.welcomeSection article {
  width: 70%;
}

.welcomeSection h1 {
  color: #9a031e;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 88px;
  letter-spacing: 0.225em;
}

.welcomeSection p {
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
}

.welcomeSection img {
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
}

.interestingSection {
  padding: 20px 120px;
}
.interestingSection .text-center p {
  color: #5f0f40;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 77px;
  letter-spacing: 0.17em;
}
.interestingSection .festivalPromo {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.interestingSection .festivalPromo img {
  width: 100%;
}
.interestingSection .festivalPromo div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 103px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.interestingSection .festivalPromo div h4 {
  color: #ffd000;
  font-size: 48px;
}
.interestingSection .festivalPromo div p {
  color: #ffffff;
  font-size: 40px;
}
.interestingSection .festivalPromo .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visitHaarlemPromo {
  display: flex;
  justify-content: space-between;
}
.visitHaarlemPromo figure {
  width: 45%;
}
.visitHaarlemPromo figure img {
  width: 100%;
  height: auto;
}

.mobileAppPromoSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 120px;
}
.mobileAppPromoSection .informationColumn {
  width: 40%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.mobileAppPromoSection .informationColumn .caption {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 10px;
}
.mobileAppPromoSection .informationColumn .caption img {
  height: 100%;
}
.mobileAppPromoSection .informationColumn .caption p {
  font-size: 20px;
  margin: 0;
}
.mobileAppPromoSection .informationColumn h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 58px;
}
.mobileAppPromoSection .informationColumn h2 {
  font-size: 20px;
  margin-top: 5%;
}
.mobileAppPromoSection .informationColumn .downloadBtns {
  display: flex;
  gap: 15px;
  margin-bottom: 5%;
}
.mobileAppPromoSection .informationColumn .downloadBtns img {
  height: 4vw;
  cursor: pointer;
}
.mobileAppPromoSection .mockupColumn {
  width: 30%;
}
.mobileAppPromoSection .mockupColumn img {
  width: 100%;
  height: auto;
}

#FoodIntroSubImage {
  margin-top: 66px;
}

#FoodParagraph1 {
  background: linear-gradient(180deg, #9a031e 0%, #3e030e 100%);
  margin-top: 66px;
}

#FoodParagraph1Content {
  color: white;
  font-size: 13pt;
  margin: 162px 120px 162px 120px;
}

#Restaurant {
  background: linear-gradient(180deg, #9a031e 0%, #3e030e 100%);
}

#header {
  color: #5f0f40;
}

<<<<<<< Updated upstream
.kids-welcome-screen {
  margin-bottom: 7%;
  color: #5f0f40;
  font-style: normal;
  font-family: "Inter";
}
.kids-welcome-screen h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kids-welcome-screen h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kids-welcome-screen p {
  color: #321325;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}

.text-center.kids-page {
  font-family: "Inter";
  font-style: normal;
  color: #4f0310;
}
.text-center.kids-page h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-center.kids-page h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kids-event-banner {
  background: linear-gradient(93.86deg, #95051e 0%, #2b0108 100%);
  box-shadow: 0px 4px 63px 3px #95061e;
  width: 100%;
  display: flex;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  padding: 10px 20px;
}
.kids-event-banner .col1 {
  width: 35%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.kids-event-banner .col1 p:nth-child(1) {
  margin-bottom: 15%;
}
.kids-event-banner .col2 {
  align-self: flex-end;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kids-event-banner .col2 p {
  font-weight: 800;
  margin: 0;
}
.kids-event-banner .col2 img {
  width: 40px;
}
.kids-event-banner .col3 {
  width: 35%;
}
.kids-event-banner .col3 img {
  width: 80%;
}

.shadow-text {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  position: relative;
  margin: 15% 0;
}
.shadow-text h1 {
  color: rgba(154, 3, 30, 0.29);
  font-size: 152px;
  line-height: 345px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shadow-text p {
  color: #000000;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.kids-benefits {
  margin-top: 25%;
  padding: 0 7%;
}
.kids-benefits .benefit {
  width: 30%;
  background: linear-gradient(180deg, #98041e 0%, #2a0108 100%);
  border-radius: 31px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  transition: 0.5s;
}
.kids-benefits .benefit div:nth-child(2) {
  margin-top: auto;
}
.kids-benefits .benefit h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
}
.kids-benefits .benefit p {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
}
.kids-benefits .benefit:hover {
  transform: translateY(-20px);
  filter: contrast(1.2);
}

.places-for-kids {
  margin-top: 30%;
  margin-bottom: 10%;
}
.places-for-kids .article:nth-child(2) {
  margin: 7% 0;
}
.places-for-kids .article h1 {
  color: #9a031e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.places-for-kids .article p {
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}
.places-for-kids .article .findOnMap {
  display: flex;
  align-items: center;
  gap: 5px;
}
.places-for-kids .article .findOnMap a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #5f0f40;
}
.places-for-kids .article .findOnMap img {
  width: 30px;
=======
.container.restaurant {
  background: linear-gradient(180deg, #9a031e 0%, #3e030e 100%);
>>>>>>> Stashed changes
}/*# sourceMappingURL=style.css.map */